# general
**/__pycache__
.pytest_cache
.ipynb_checkpoints
*.DS_Store

# Data
experiments/**/data

# Runs
experiments/**/outputs
experiments/**/multirun

# Misc
experiments/explo
ige-jaxathon-2025
sbi-hackathon-2026

# IDE related
.idea
.vscode

# git stuff
!**/.gitkeep
